body{
    background-color: #f2e5e6;
}
.split {
  height: 60%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
  
.left {
  top: 20%;
  left: 26%;
  width: 370px;
  background-color:white;

}
.left h2{
  font-family: Arial,Sans-serif;
  font-weight: 1000;
  font-size: 30px;
}
.left button{
  color: white;
  background-color: #ff4929;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 14px;
  padding: 10px 50px;
  font-weight: 500;
  margin-bottom: 30px;
}
.left input{
  border: 1px;
  outline: 1px;
  height: 22px;
  width: 250px;
  margin-bottom: 20px;
  padding: 5px;
  background-color:#f2f2f2;
}
.left a{
  color: black;
}
  
.right {
  right: 20%;
  top: 20%;
  width: 370px;
  background: linear-gradient(to right,#ff462e,#fc2961);
}
  
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#loginid{
  color: #999663;
}
.loginhome h1{
  text-align: center;
  padding-top:10%;
  font-size: 50px;
  color: #fc2c5d;
  font-family: Arial,Sans-serif;
}
.loginhome h2,h3{
  text-align: center;
  font-size: 35px;
  color: black;
  font-family: Arial,Sans-serif;
  font-weight: 500;
}
#timeid{
  color: #fc2c5d;
  font-family: Arial,Sans-serif;
}
.loginhome a{
  color: black;
  font-size: 19px;
  padding: 5px 12px;
  font-weight: 500;
  position: absolute;
  left: 47%;
  
}

#home{
  background-color: white;
}

img {
  width: 40px;
  border-radius: 50%;
  height: 30px;
}